recamera-streaming-flow.json
[
  {
    "id": "stream_flow_tab",
    "type": "tab",
    "label": "HeySalad Streaming",
    "disabled": false,
    "info": "RTSP and MJPEG streaming for HeySalad"
  },
  {
    "id": "stream_config",
    "type": "inject",
    "z": "stream_flow_tab",
    "name": "Initialize Streaming",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "x": 140,
    "y": 80,
    "wires": [["set_stream_config"]]
  },
  {
    "id": "set_stream_config",
    "type": "function",
    "z": "stream_flow_tab",
    "name": "Set Stream Configuration",
    "func": "// Camera streaming configuration\nflow.set('CAMERA_ID', '34236c48-2dae-4fe6-9bae-27e640f84d71');\nflow.set('LAURA_API_URL', 'https://laura.heysalad.app');\nflow.set('RTSP_URL', 'rtsp://localhost:8554/live');\nflow.set('MJPEG_PORT', 8081);\n\nnode.warn('📹 Streaming configured');\nnode.status({ fill: 'green', shape: 'dot', text: 'Ready' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "upload_frame_timer",
    "type": "inject",
    "z": "stream_flow_tab",
    "name": "Upload Frame Every 200ms",
    "props": [],
    "repeat": "0.2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 170,
    "y": 180,
    "wires": [["capture_frame"]]
  },
  {
    "id": "capture_frame",
    "type": "function",
    "z": "stream_flow_tab",
    "name": "Capture Frame",
    "func": "// TODO: Capture actual camera frame\n// This is a placeholder - integrate with reCamera's camera API\n\n// Example: Use exec node to capture frame via ffmpeg or v4l2\nmsg.payload = {\n    action: 'capture',\n    timestamp: Date.now()\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 180,
    "wires": [["upload_to_laura"]]
  },
  {
    "id": "upload_to_laura",
    "type": "function",
    "z": "stream_flow_tab",
    "name": "Upload to Laura",
    "func": "const cameraId = flow.get('CAMERA_ID');\nconst lauraUrl = flow.get('LAURA_API_URL');\n\n// Prepare frame upload\nmsg.url = `${lauraUrl}/api/cameras/${cameraId}/frame`;\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'image/jpeg'\n};\n\n// msg.payload should be JPEG binary data\n// TODO: Set actual frame data from camera\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 180,
    "wires": [["http_upload"]]
  },
  {
    "id": "http_upload",
    "type": "http request",
    "z": "stream_flow_tab",
    "name": "HTTP Upload Frame",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 860,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "status_update_timer",
    "type": "inject",
    "z": "stream_flow_tab",
    "name": "Status Every 30s",
    "props": [],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "x": 150,
    "y": 280,
    "wires": [["send_status"]]
  },
  {
    "id": "send_status",
    "type": "function",
    "z": "stream_flow_tab",
    "name": "Send Camera Status",
    "func": "const cameraId = flow.get('CAMERA_ID');\nconst lauraUrl = flow.get('LAURA_API_URL');\nconst rtspUrl = flow.get('RTSP_URL');\n\nmsg.url = `${lauraUrl}/api/cameras/${cameraId}/status`;\nmsg.method = 'POST';\nmsg.payload = {\n    status: 'online',\n    metadata: {\n        rtsp_url: rtspUrl,\n        streaming: true,\n        gimbal_ready: true,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.warn('📊 Sending status update');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 280,
    "wires": [["http_status"]]
  },
  {
    "id": "http_status",
    "type": "http request",
    "z": "stream_flow_tab",
    "name": "HTTP Status Update",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 640,
    "y": 280,
    "wires": [[]]
  }
]
