recamera-full-system.json
[
  {
    "id": "ai_integration_tab",
    "type": "tab",
    "label": "HeySalad AI Integration",
    "disabled": false,
    "info": "OpenAI Realtime + ElevenLabs + Gimbal Control"
  },
  {
    "id": "config_inject",
    "type": "inject",
    "z": "ai_integration_tab",
    "name": "Initialize AI Config",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "x": 140,
    "y": 60,
    "wires": [
      [
        "set_ai_config"
      ]
    ]
  },
  {
    "id": "set_ai_config",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Set AI Configuration",
    "func": "// Laura API Configuration\n// CAMERA_ID is used for OpenAI and ElevenLabs APIs\nflow.set('CAMERA_ID', 'recamera-gimbal-001');\n// CAMERA_UUID is used for gimbal commands (database UUID)\nflow.set('CAMERA_UUID', '34236c48-2dae-4fe6-9bae-27e640f84d71');\nflow.set('LAURA_API_URL', 'https://laura.heysalad.app');\n\n// Get OpenAI credentials from Laura\n// You'll need to make an HTTP request to get the WebSocket URL and key\nflow.set('OPENAI_MODEL', 'gpt-4o-realtime-preview-2024-10-01');\n\n// ElevenLabs configuration\nflow.set('ELEVENLABS_VOICE_ID', '21m00Tcm4TlvDq8ikWAM'); // Rachel voice\n\nnode.warn('🤖 AI configuration initialized');\nnode.status({ fill: 'green', shape: 'dot', text: 'AI Ready' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 60,
    "wires": [
      [
        "get_openai_creds"
      ]
    ]
  },
  {
    "id": "get_openai_creds",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Get OpenAI Credentials",
    "func": "const cameraId = flow.get('CAMERA_ID');\nconst lauraUrl = flow.get('LAURA_API_URL');\n\nmsg.url = `${lauraUrl}/api/ai/openai-realtime`;\nmsg.method = 'POST';\nmsg.payload = { camera_id: cameraId };\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 60,
    "wires": [
      [
        "http_get_creds"
      ]
    ]
  },
  {
    "id": "http_get_creds",
    "type": "http request",
    "z": "ai_integration_tab",
    "name": "HTTP Get Credentials",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 870,
    "y": 60,
    "wires": [
      [
        "store_creds"
      ]
    ]
  },
  {
    "id": "store_creds",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Store Credentials",
    "func": "const response = msg.payload;\n\nif (response.websocket_url) {\n    flow.set('OPENAI_WS_URL', response.websocket_url);\n    node.warn('✅ Secure WebSocket proxy configured');\n    node.warn('📍 WebSocket URL (with token): ' + response.websocket_url);\n    node.warn('🎯 COPY THIS URL TO WEBSOCKET CLIENT CONFIG');\n} else {\n    node.warn('⚠️ Failed to configure secure proxy');\n    node.error('Response: ' + JSON.stringify(response));\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1100,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "camera_capture",
    "type": "camera",
    "z": "ai_integration_tab",
    "option": 0,
    "audio": true,
    "volume": 80,
    "name": "Camera + Audio Capture",
    "x": 180,
    "y": 180,
    "wires": [
      [
        "ai_inference",
        "stream_output"
      ]
    ]
  },
  {
    "id": "ai_inference",
    "type": "model",
    "z": "ai_integration_tab",
    "name": "AI Object Detection",
    "uri": "",
    "model": "",
    "tscore": 0.45,
    "tiou": 0.25,
    "debug": false,
    "trace": false,
    "counting": false,
    "classes": "",
    "splitter": "0,0,0,0",
    "x": 420,
    "y": 180,
    "wires": [
      [
        "process_detections"
      ]
    ]
  },
  {
    "id": "process_detections",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Process Detections",
    "func": "// Process AI detections and trigger actions\nconst detections = msg.payload;\n\nif (detections && detections.length > 0) {\n    node.warn(`🎯 Detected ${detections.length} object(s)`);\n    \n    // Send to OpenAI for analysis\n    msg.detected_objects = detections;\n    msg.action = 'analyze_scene';\n    \n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 660,
    "y": 180,
    "wires": [
      [
        "send_to_openai"
      ]
    ]
  },
  {
    "id": "send_to_openai",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Format for OpenAI",
    "func": "// Format message for OpenAI Realtime API\nconst detections = msg.detected_objects || [];\nconst objectList = detections.map(d => d.class).join(', ');\n\nmsg.payload = {\n    type: 'conversation.item.create',\n    item: {\n        type: 'message',\n        role: 'user',\n        content: [{\n            type: 'input_text',\n            text: `I see the following objects in the kitchen: ${objectList}. What should I do?`\n        }]\n    }\n};\n\nnode.warn('📤 Sending to OpenAI:', msg.payload.item.content[0].text);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 900,
    "y": 180,
    "wires": [
      [
        "openai_websocket_out"
      ]
    ]
  },
  {
    "id": "openai_websocket_out",
    "type": "websocket out",
    "z": "ai_integration_tab",
    "name": "OpenAI WebSocket Out",
    "server": "openai_ws_server",
    "client": "openai_ws_client",
    "x": 180,
    "y": 280,
    "wires": []
  },
  {
    "id": "openai_websocket_in",
    "type": "websocket in",
    "z": "ai_integration_tab",
    "name": "OpenAI WebSocket In",
    "server": "openai_ws_server",
    "client": "openai_ws_client",
    "x": 180,
    "y": 360,
    "wires": [
      [
        "process_openai_response"
      ]
    ]
  },
  {
    "id": "process_openai_response",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Process OpenAI Response",
    "func": "const response = msg.payload;\n\nif (typeof response === 'string') {\n    try {\n        msg.payload = JSON.parse(response);\n    } catch (e) {\n        // Already parsed\n    }\n}\n\nconst event = msg.payload;\n\nif (event.type === 'response.done' && event.response) {\n    const output = event.response.output;\n    if (output && output.length > 0) {\n        const textContent = output.find(o => o.type === 'text');\n        if (textContent && textContent.text) {\n            msg.ai_response = textContent.text;\n            node.warn('🤖 OpenAI:', textContent.text);\n            return msg;\n        }\n    }\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 360,
    "wires": [
      [
        "send_to_elevenlabs",
        "execute_gimbal_action"
      ]
    ]
  },
  {
    "id": "send_to_elevenlabs",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Send to ElevenLabs",
    "func": "const cameraId = flow.get('CAMERA_ID');\nconst lauraUrl = flow.get('LAURA_API_URL');\nconst voiceId = flow.get('ELEVENLABS_VOICE_ID');\n\nconst text = msg.ai_response;\n\nif (!text) {\n    return null;\n}\n\nmsg.url = `${lauraUrl}/api/ai/elevenlabs`;\nmsg.method = 'POST';\nmsg.payload = {\n    text: text,\n    voice_id: voiceId,\n    camera_id: cameraId\n};\n\nnode.warn('🔊 Generating speech:', text);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 730,
    "y": 360,
    "wires": [
      [
        "http_tts"
      ]
    ]
  },
  {
    "id": "http_tts",
    "type": "http request",
    "z": "ai_integration_tab",
    "name": "HTTP TTS Request",
    "method": "use",
    "ret": "bin",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 970,
    "y": 360,
    "wires": [
      [
        "play_audio"
      ]
    ]
  },
  {
    "id": "play_audio",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Play Audio on Speaker",
    "func": "// Audio buffer is in msg.payload\n// TODO: Play audio through reCamera speaker\n// This requires audio output node or exec command\n\nnode.warn('🔊 Audio received, size:', msg.payload.length, 'bytes');\n\n// Example: Save to temp file and play\nmsg.filename = '/tmp/tts_response.mp3';\nmsg.play_command = 'aplay /tmp/tts_response.mp3';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 180,
    "y": 460,
    "wires": [
      [
        "audio_output"
      ]
    ]
  },
  {
    "id": "audio_output",
    "type": "exec",
    "z": "ai_integration_tab",
    "command": "aplay /tmp/tts_response.mp3",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Play Audio Exec",
    "x": 430,
    "y": 460,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "execute_gimbal_action",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Parse Gimbal Action",
    "func": "// Parse AI response for gimbal commands\nconst response = msg.ai_response.toLowerCase();\n\nlet gimbalCommand = null;\n\nif (response.includes('look left')) {\n    gimbalCommand = { preset: 'left' };\n} else if (response.includes('look right')) {\n    gimbalCommand = { preset: 'right' };\n} else if (response.includes('look up')) {\n    gimbalCommand = { preset: 'up' };\n} else if (response.includes('look down')) {\n    gimbalCommand = { preset: 'down' };\n} else if (response.includes('center') || response.includes('straight')) {\n    gimbalCommand = { preset: 'center' };\n}\n\nif (gimbalCommand) {\n    msg.gimbal_command = gimbalCommand;\n    node.warn('🎮 Gimbal command:', gimbalCommand);\n    return msg;\n}\n\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 740,
    "y": 460,
    "wires": [
      [
        "send_gimbal_command"
      ]
    ]
  },
  {
    "id": "send_gimbal_command",
    "type": "function",
    "z": "ai_integration_tab",
    "name": "Send to Laura",
    "func": "const cameraUuid = flow.get('CAMERA_UUID');\nconst lauraUrl = flow.get('LAURA_API_URL');\nconst gimbalCmd = msg.gimbal_command;\n\nmsg.url = `${lauraUrl}/api/cameras/${cameraUuid}/command`;\nmsg.method = 'POST';\nmsg.payload = {\n    command_type: 'gimbal_preset',\n    payload: gimbalCmd\n};\n\nnode.warn('📡 Sending gimbal command to Laura');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 990,
    "y": 460,
    "wires": [
      [
        "http_gimbal"
      ]
    ]
  },
  {
    "id": "http_gimbal",
    "type": "http request",
    "z": "ai_integration_tab",
    "name": "HTTP Gimbal Command",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 1220,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "stream_output",
    "type": "stream",
    "z": "ai_integration_tab",
    "name": "RTSP Stream",
    "protocol": 0,
    "port": 554,
    "session": "live",
    "username": "admin",
    "password": "admin",
    "x": 430,
    "y": 100,
    "wires": []
  },
  {
    "id": "manual_trigger",
    "type": "inject",
    "z": "ai_integration_tab",
    "name": "Test: Ask AI",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"detected_objects\":[{\"class\":\"person\"},{\"class\":\"pizza\"}]}",
    "payloadType": "json",
    "x": 140,
    "y": 560,
    "wires": [
      [
        "process_detections"
      ]
    ]
  },
  {
    "id": "test_tts",
    "type": "inject",
    "z": "ai_integration_tab",
    "name": "Test: TTS",
    "props": [
      {
        "p": "ai_response",
        "v": "Hello from HeySalad! The kitchen looks great today.",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 530,
    "y": 560,
    "wires": [
      [
        "send_to_elevenlabs"
      ]
    ]
  },
  {
    "id": "test_gimbal",
    "type": "inject",
    "z": "ai_integration_tab",
    "name": "Test: Gimbal Left",
    "props": [
      {
        "p": "gimbal_command",
        "v": "{\"preset\":\"left\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 780,
    "y": 560,
    "wires": [
      [
        "send_gimbal_command"
      ]
    ]
  },
  {
    "id": "debug_output",
    "type": "debug",
    "z": "ai_integration_tab",
    "name": "Debug Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 100,
    "wires": []
  },
  {
    "id": "openai_ws_client",
    "type": "websocket-client",
    "path": "wss://heysalad-openai-proxy.heysalad-o.workers.dev/openai-realtime?token=cNf2w6BmZrItVdakHxqUkD7hY/y1swO0NGLBvtI0EXI=",
    "tls": "",
    "wholemsg": "true",
    "hb": "0",
    "subprotocol": ""
  },
  {
    "id": "laura_config_inject",
    "type": "inject",
    "name": "Initialize Laura Config",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 80,
    "wires": [
      [
        "laura_config_node"
      ]
    ]
  },
  {
    "id": "laura_config_node",
    "type": "function",
    "name": "Set Laura Configuration",
    "func": "// ⚠️ EDIT THESE VALUES FOR YOUR SETUP\nflow.set('CAMERA_ID', '34236c48-2dae-4fe6-9bae-27e640f84d71');\nflow.set('LAURA_API_URL', 'https://laura.heysalad.app');\nflow.set('POLL_INTERVAL', 2000);\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Laura configured' });\nnode.warn('✅ Laura polling configured');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 80,
    "wires": [
      [
        "poll_timer_start"
      ]
    ]
  },
  {
    "id": "poll_timer_start",
    "type": "inject",
    "name": "Poll Every 2 Seconds",
    "props": [],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 160,
    "wires": [
      [
        "poll_laura_api"
      ]
    ]
  },
  {
    "id": "poll_laura_api",
    "type": "function",
    "name": "Poll Laura for Commands",
    "func": "const cameraId = flow.get('CAMERA_ID');\nconst lauraUrl = flow.get('LAURA_API_URL');\n\nif (!cameraId || !lauraUrl) {\n    node.error('❌ Laura configuration not set');\n    return null;\n}\n\nmsg.url = `${lauraUrl}/api/cameras/${cameraId}/commands`;\nmsg.method = 'GET';\n\nnode.status({ fill: 'blue', shape: 'ring', text: 'Polling...' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 160,
    "wires": [
      [
        "http_request_node"
      ]
    ]
  },
  {
    "id": "http_request_node",
    "type": "http request",
    "name": "HTTP Request to Laura",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 660,
    "y": 160,
    "wires": [
      [
        "process_commands"
      ]
    ]
  },
  {
    "id": "process_commands",
    "type": "function",
    "name": "Process Commands",
    "func": "const response = msg.payload;\n\nif (!response || !response.commands || response.commands.length === 0) {\n    node.status({ fill: 'green', shape: 'dot', text: 'No commands' });\n    return null;\n}\n\nconst commands = response.commands;\nnode.warn(`📥 Received ${commands.length} command(s)`);\nnode.status({ fill: 'yellow', shape: 'dot', text: `${commands.length} commands` });\n\n// Process first command only\nconst cmd = commands[0];\nmsg.payload = cmd;\nmsg.command_id = cmd.id;\nmsg.command_type = cmd.type;\nmsg.params = cmd.params || {};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 150,
    "y": 260,
    "wires": [
      [
        "route_command"
      ]
    ]
  },
  {
    "id": "route_command",
    "type": "switch",
    "name": "Route by Command Type",
    "property": "command_type",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "gimbal_set_angle",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "gimbal_offset",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "gimbal_get_angle",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "gimbal_preset",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "gimbal_stop",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "take_photo",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "get_status",
        "vt": "str"
      }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 7,
    "x": 400,
    "y": 260,
    "wires": [
      [
        "exec_set_angle"
      ],
      [
        "exec_offset"
      ],
      [
        "exec_get_angle"
      ],
      [
        "exec_preset"
      ],
      [
        "exec_stop"
      ],
      [
        "exec_photo"
      ],
      [
        "exec_status"
      ]
    ]
  },
  {
    "id": "exec_set_angle",
    "type": "function",
    "name": "Execute Set Angle",
    "func": "const params = msg.params;\nconst yaw = parseFloat(params.yaw_angle) || 0;\nconst pitch = parseFloat(params.pitch_angle) || 0;\nconst speed = parseFloat(params.speed) || 200;\n\nnode.warn(`🎯 Setting gimbal: yaw=${yaw}°, pitch=${pitch}°, speed=${speed}`);\n\n// TODO: Add actual gimbal control here\n// Example: msg.payload = { yaw, pitch, speed };\n// Send to your gimbal control node\n\nmsg.result = {\n    status: 'completed',\n    data: { yaw, pitch, speed, message: 'Gimbal moved' }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Angle set' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 200,
    "wires": [
      [
        "acknowledge_command"
      ]
    ]
  },
  {
    "id": "exec_offset",
    "type": "function",
    "name": "Execute Offset",
    "func": "const params = msg.params;\nconst yawDelta = parseFloat(params.yaw_delta) || 0;\nconst pitchDelta = parseFloat(params.pitch_delta) || 0;\nconst speed = parseFloat(params.speed) || 200;\n\nnode.warn(`↔️ Offset gimbal: yaw_delta=${yawDelta}°, pitch_delta=${pitchDelta}°`);\n\n// TODO: Add actual gimbal control here\n\nmsg.result = {\n    status: 'completed',\n    data: { yaw_delta: yawDelta, pitch_delta: pitchDelta, speed }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Offset applied' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 240,
    "wires": [
      [
        "acknowledge_command"
      ]
    ]
  },
  {
    "id": "exec_get_angle",
    "type": "function",
    "name": "Execute Get Angle",
    "func": "node.warn('📐 Getting current gimbal angle');\n\n// TODO: Read actual gimbal position\nconst currentYaw = 0;\nconst currentPitch = 0;\n\nmsg.result = {\n    status: 'completed',\n    data: {\n        yaw: currentYaw,\n        pitch: currentPitch,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Angle read' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 280,
    "wires": [
      [
        "acknowledge_command"
      ]
    ]
  },
  {
    "id": "exec_preset",
    "type": "function",
    "name": "Execute Preset",
    "func": "const preset = msg.params.preset?.toLowerCase();\nconst speed = parseFloat(msg.params.speed) || 200;\n\nconst presets = {\n    center: { yaw: 0, pitch: 0 },\n    left: { yaw: -90, pitch: 0 },\n    right: { yaw: 90, pitch: 0 },\n    up: { yaw: 0, pitch: -45 },\n    down: { yaw: 0, pitch: 45 }\n};\n\nif (!presets[preset]) {\n    msg.result = {\n        status: 'failed',\n        error: `Invalid preset: ${preset}`\n    };\n    return msg;\n}\n\nconst { yaw, pitch } = presets[preset];\nnode.warn(`🎯 Moving to preset: ${preset} (yaw=${yaw}°, pitch=${pitch}°)`);\n\n// TODO: Add actual gimbal control here\n\nmsg.result = {\n    status: 'completed',\n    data: { preset, yaw, pitch, speed }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: `Preset: ${preset}` });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 320,
    "wires": [
      [
        "acknowledge_command"
      ]
    ]
  },
  {
    "id": "exec_stop",
    "type": "function",
    "name": "Execute Stop",
    "func": "node.warn('🛑 Gimbal EMERGENCY STOP');\n\n// TODO: Add actual gimbal stop command here\n\nmsg.result = {\n    status: 'completed',\n    data: { stopped: true }\n};\n\nnode.status({ fill: 'red', shape: 'dot', text: 'STOPPED' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 660,
    "y": 360,
    "wires": [
      [
        "acknowledge_command"
      ]
    ]
  },
  {
    "id": "exec_photo",
    "type": "function",
    "name": "Execute Take Photo",
    "func": "node.warn('📸 Taking photo');\n\n// TODO: Add actual photo capture here\n\nmsg.result = {\n    status: 'completed',\n    data: { photo_taken: true, timestamp: new Date().toISOString() }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Photo taken' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 400,
    "wires": [
      [
        "acknowledge_command"
      ]
    ]
  },
  {
    "id": "exec_status",
    "type": "function",
    "name": "Execute Get Status",
    "func": "node.warn('📊 Getting device status');\n\n// TODO: Add actual status reading here\n\nmsg.result = {\n    status: 'completed',\n    data: {\n        online: true,\n        gimbal_ready: true,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Status sent' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 440,
    "wires": [
      [
        "acknowledge_command"
      ]
    ]
  },
  {
    "id": "acknowledge_command",
    "type": "function",
    "name": "Acknowledge to Laura",
    "func": "const cameraId = flow.get('CAMERA_ID');\nconst lauraUrl = flow.get('LAURA_API_URL');\nconst commandId = msg.command_id;\nconst result = msg.result;\n\nif (!commandId) {\n    node.error('❌ No command_id in message');\n    return null;\n}\n\nmsg.url = `${lauraUrl}/api/cameras/${cameraId}/commands/${commandId}`;\nmsg.method = 'POST';\nmsg.payload = {\n    status: result.status,\n    result: result.data || result.error || {}\n};\n\nnode.warn(`✅ Acknowledging command ${commandId} with status: ${result.status}`);\nnode.status({ fill: 'blue', shape: 'ring', text: 'Sending ack...' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 190,
    "y": 380,
    "wires": [
      [
        "http_ack"
      ]
    ]
  },
  {
    "id": "http_ack",
    "type": "http request",
    "name": "Send Acknowledgment",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 420,
    "y": 380,
    "wires": [
      [
        "ack_response"
      ]
    ]
  },
  {
    "id": "ack_response",
    "type": "debug",
    "name": "Ack Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 380,
    "wires": []
  },
  {
    "id": "error_handler",
    "type": "catch",
    "name": "Error Handler",
    "scope": null,
    "uncaught": false,
    "x": 150,
    "y": 480,
    "wires": [
      [
        "log_error"
      ]
    ]
  },
  {
    "id": "log_error",
    "type": "debug",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 340,
    "y": 480,
    "wires": []
  },
  {
    "id": "heysalad_dashboard",
    "type": "ui-page",
    "name": "HeySalad Control",
    "ui": "heysalad_ui",
    "path": "/heysalad",
    "icon": "restaurant",
    "layout": "grid",
    "theme": "heysalad_theme",
    "order": 1,
    "className": ""
  },
  {
    "id": "heysalad_theme",
    "type": "ui-theme",
    "name": "HeySalad Theme",
    "colors": {
      "surface": "#000000",
      "primary": "#ed4c4c",
      "bgPage": "#000000",
      "groupBg": "#18181b",
      "groupOutline": "#27272a"
    },
    "sizes": {
      "density": "default"
    }
  },
  {
    "id": "heysalad_group",
    "type": "ui-group",
    "name": "Camera Control",
    "page": "heysalad_dashboard",
    "width": "12",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": "false"
  },
  {
    "id": "heysalad_logo",
    "type": "ui-template",
    "z": "heysalad_dashboard",
    "group": "heysalad_group",
    "page": "",
    "ui": "",
    "name": "HeySalad Logo & Title",
    "order": 1,
    "width": "12",
    "height": "3",
    "head": "",
    "format": "<template>\n  <div style=\"text-align: center; padding: 20px; background: linear-gradient(135deg, #000 0%, #18181b 100%); border-radius: 12px; border: 2px solid #ed4c4c;\">\n    <div style=\"font-family: 'Figtree', sans-serif; font-size: 48px; font-weight: 800; color: #ed4c4c; text-shadow: 0 0 20px rgba(237, 76, 76, 0.5);\">\n      🥗 HeySalad\n    </div>\n    <div style=\"font-size: 18px; color: #faa09a; margin-top: 8px; font-weight: 500;\">\n      Kitchen ReCamera Gimbal\n    </div>\n    <div style=\"font-size: 14px; color: #71717a; margin-top: 4px;\">\n      Status: <span style=\"color: #22c55e;\">● Online</span> | Gimbal: <span style=\"color: #22c55e;\">Ready</span>\n    </div>\n  </div>\n</template>\n\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&display=swap');\n  \n  body {\n    font-family: 'Figtree', sans-serif;\n    background: #000;\n  }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 200,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "camera_stream",
    "type": "ui-template",
    "z": "heysalad_dashboard",
    "group": "heysalad_group",
    "page": "",
    "ui": "",
    "name": "Live Camera Stream",
    "order": 2,
    "width": "12",
    "height": "8",
    "head": "",
    "format": "<template>\n  <div style=\"background: #18181b; border-radius: 12px; padding: 16px; border: 1px solid #27272a;\">\n    <div style=\"font-size: 16px; color: #fafafa; margin-bottom: 12px; font-weight: 600;\">📹 Live Stream</div>\n    <div style=\"position: relative; width: 100%; padding-bottom: 56.25%; background: #000; border-radius: 8px; overflow: hidden;\">\n      <img id=\"stream\" \n           :src=\"streamUrl\" \n           style=\"position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: contain;\"\n           alt=\"Camera Stream\" />\n    </div>\n    <div style=\"display: flex; gap: 8px; margin-top: 12px; flex-wrap: wrap;\">\n      <button @click=\"refreshStream\" style=\"flex: 1; min-width: 120px; padding: 10px 16px; background: #ed4c4c; color: white; border: none; border-radius: 6px; font-weight: 600; cursor: pointer; font-family: 'Figtree', sans-serif;\">\n        🔄 Refresh\n      </button>\n      <button @click=\"takeSnapshot\" style=\"flex: 1; min-width: 120px; padding: 10px 16px; background: #22c55e; color: white; border: none; border-radius: 6px; font-weight: 600; cursor: pointer; font-family: 'Figtree', sans-serif;\">\n        📸 Snapshot\n      </button>\n    </div>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      streamUrl: 'https://laura.heysalad.app/api/cameras/34236c48-2dae-4fe6-9bae-27e640f84d71/stream'\n    }\n  },\n  methods: {\n    refreshStream() {\n      this.streamUrl = this.streamUrl + '?t=' + Date.now();\n    },\n    takeSnapshot() {\n      // Send snapshot command\n      fetch('https://laura.heysalad.app/api/cameras/34236c48-2dae-4fe6-9bae-27e640f84d71/command', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({ command_type: 'take_photo', payload: {} })\n      });\n    }\n  }\n}\n</script>\n\n<style>\n  button:hover {\n    opacity: 0.9;\n    transform: translateY(-1px);\n  }\n  button:active {\n    transform: translateY(0);\n  }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 200,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "gimbal_controls",
    "type": "ui-template",
    "z": "heysalad_dashboard",
    "group": "heysalad_group",
    "page": "",
    "ui": "",
    "name": "Gimbal Controls",
    "order": 3,
    "width": "12",
    "height": "6",
    "head": "",
    "format": "<template>\n  <div style=\"background: #18181b; border-radius: 12px; padding: 16px; border: 1px solid #27272a;\">\n    <div style=\"font-size: 16px; color: #fafafa; margin-bottom: 16px; font-weight: 600;\">🎮 Gimbal Control</div>\n    \n    <!-- Preset Buttons -->\n    <div style=\"margin-bottom: 20px;\">\n      <div style=\"font-size: 14px; color: #a1a1aa; margin-bottom: 8px;\">Quick Presets</div>\n      <div style=\"display: grid; grid-template-columns: repeat(5, 1fr); gap: 8px;\">\n        <button @click=\"sendPreset('center')\" :style=\"buttonStyle\">⬤ Center</button>\n        <button @click=\"sendPreset('left')\" :style=\"buttonStyle\">← Left</button>\n        <button @click=\"sendPreset('right')\" :style=\"buttonStyle\">→ Right</button>\n        <button @click=\"sendPreset('up')\" :style=\"buttonStyle\">↑ Up</button>\n        <button @click=\"sendPreset('down')\" :style=\"buttonStyle\">↓ Down</button>\n      </div>\n    </div>\n\n    <!-- Manual Control -->\n    <div>\n      <div style=\"font-size: 14px; color: #a1a1aa; margin-bottom: 8px;\">Manual Control</div>\n      <div style=\"display: grid; grid-template-columns: 1fr 1fr; gap: 12px;\">\n        <div>\n          <label style=\"color: #fafafa; font-size: 12px; display: block; margin-bottom: 4px;\">Yaw (°): {{yaw}}</label>\n          <input v-model=\"yaw\" type=\"range\" min=\"-180\" max=\"180\" style=\"width: 100%;\" />\n        </div>\n        <div>\n          <label style=\"color: #fafafa; font-size: 12px; display: block; margin-bottom: 4px;\">Pitch (°): {{pitch}}</label>\n          <input v-model=\"pitch\" type=\"range\" min=\"-90\" max=\"90\" style=\"width: 100%;\" />\n        </div>\n      </div>\n      <button @click=\"sendManualPosition\" style=\"width: 100%; margin-top: 12px; padding: 12px; background: #ed4c4c; color: white; border: none; border-radius: 6px; font-weight: 600; cursor: pointer; font-family: 'Figtree', sans-serif;\">\n        🎯 Move to Position\n      </button>\n    </div>\n\n    <!-- Emergency Stop -->\n    <button @click=\"emergencyStop\" style=\"width: 100%; margin-top: 16px; padding: 12px; background: #dc2626; color: white; border: none; border-radius: 6px; font-weight: 700; cursor: pointer; font-family: 'Figtree', sans-serif; font-size: 16px;\">\n      🛑 EMERGENCY STOP\n    </button>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      yaw: 0,\n      pitch: 0,\n      buttonStyle: {\n        padding: '10px 8px',\n        background: '#27272a',\n        color: '#fafafa',\n        border: '1px solid #3f3f46',\n        borderRadius: '6px',\n        fontWeight: '600',\n        cursor: 'pointer',\n        fontFamily: 'Figtree, sans-serif',\n        fontSize: '13px'\n      }\n    }\n  },\n  methods: {\n    async sendCommand(command_type, payload) {\n      try {\n        const response = await fetch('https://laura.heysalad.app/api/cameras/34236c48-2dae-4fe6-9bae-27e640f84d71/command', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ command_type, payload })\n        });\n        const data = await response.json();\n        console.log('Command sent:', data);\n      } catch (error) {\n        console.error('Error sending command:', error);\n      }\n    },\n    sendPreset(preset) {\n      this.sendCommand('gimbal_preset', { preset });\n    },\n    sendManualPosition() {\n      this.sendCommand('gimbal_set_angle', {\n        yaw_angle: parseFloat(this.yaw),\n        pitch_angle: parseFloat(this.pitch)\n      });\n    },\n    emergencyStop() {\n      if (confirm('Are you sure you want to emergency stop the gimbal?')) {\n        this.sendCommand('gimbal_stop', {});\n      }\n    }\n  }\n}\n</script>\n\n<style>\n  button:hover {\n    opacity: 0.9;\n    transform: translateY(-1px);\n  }\n  button:active {\n    transform: translateY(0);\n  }\n  input[type=\"range\"] {\n    accent-color: #ed4c4c;\n  }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 200,
    "y": 260,
    "wires": [
      []
    ]
  }
]