recamera-laura-flow.json
[
  {
    "id": "laura_config_inject",
    "type": "inject",
    "name": "Initialize Laura Config",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 80,
    "wires": [["laura_config_node"]]
  },
  {
    "id": "laura_config_node",
    "type": "function",
    "name": "Set Laura Configuration",
    "func": "// ⚠️ EDIT THESE VALUES FOR YOUR SETUP\nflow.set('CAMERA_ID', '34236c48-2dae-4fe6-9bae-27e640f84d71');\nflow.set('LAURA_API_URL', 'https://laura.heysalad.app');\nflow.set('POLL_INTERVAL', 2000);\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Laura configured' });\nnode.warn('✅ Laura polling configured');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 80,
    "wires": [["poll_timer_start"]]
  },
  {
    "id": "poll_timer_start",
    "type": "inject",
    "name": "Poll Every 2 Seconds",
    "props": [],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 160,
    "wires": [["poll_laura_api"]]
  },
  {
    "id": "poll_laura_api",
    "type": "function",
    "name": "Poll Laura for Commands",
    "func": "const cameraId = flow.get('CAMERA_ID');\nconst lauraUrl = flow.get('LAURA_API_URL');\n\nif (!cameraId || !lauraUrl) {\n    node.error('❌ Laura configuration not set');\n    return null;\n}\n\nmsg.url = `${lauraUrl}/api/cameras/${cameraId}/commands`;\nmsg.method = 'GET';\n\nnode.status({ fill: 'blue', shape: 'ring', text: 'Polling...' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 160,
    "wires": [["http_request_node"]]
  },
  {
    "id": "http_request_node",
    "type": "http request",
    "name": "HTTP Request to Laura",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 660,
    "y": 160,
    "wires": [["process_commands"]]
  },
  {
    "id": "process_commands",
    "type": "function",
    "name": "Process Commands",
    "func": "const response = msg.payload;\n\nif (!response || !response.commands || response.commands.length === 0) {\n    node.status({ fill: 'green', shape: 'dot', text: 'No commands' });\n    return null;\n}\n\nconst commands = response.commands;\nnode.warn(`📥 Received ${commands.length} command(s)`);\nnode.status({ fill: 'yellow', shape: 'dot', text: `${commands.length} commands` });\n\n// Process first command only\nconst cmd = commands[0];\nmsg.payload = cmd;\nmsg.command_id = cmd.id;\nmsg.command_type = cmd.type;\nmsg.params = cmd.params || {};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 150,
    "y": 260,
    "wires": [["route_command"]]
  },
  {
    "id": "route_command",
    "type": "switch",
    "name": "Route by Command Type",
    "property": "command_type",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "gimbal_set_angle", "vt": "str" },
      { "t": "eq", "v": "gimbal_offset", "vt": "str" },
      { "t": "eq", "v": "gimbal_get_angle", "vt": "str" },
      { "t": "eq", "v": "gimbal_preset", "vt": "str" },
      { "t": "eq", "v": "gimbal_stop", "vt": "str" },
      { "t": "eq", "v": "take_photo", "vt": "str" },
      { "t": "eq", "v": "get_status", "vt": "str" }
    ],
    "checkall": "false",
    "repair": false,
    "outputs": 7,
    "x": 400,
    "y": 260,
    "wires": [
      ["exec_set_angle"],
      ["exec_offset"],
      ["exec_get_angle"],
      ["exec_preset"],
      ["exec_stop"],
      ["exec_photo"],
      ["exec_status"]
    ]
  },
  {
    "id": "exec_set_angle",
    "type": "function",
    "name": "Execute Set Angle",
    "func": "const params = msg.params;\nconst yaw = parseFloat(params.yaw_angle) || 0;\nconst pitch = parseFloat(params.pitch_angle) || 0;\nconst speed = parseFloat(params.speed) || 200;\n\nnode.warn(`🎯 Setting gimbal: yaw=${yaw}°, pitch=${pitch}°, speed=${speed}`);\n\n// TODO: Add actual gimbal control here\n// Example: msg.payload = { yaw, pitch, speed };\n// Send to your gimbal control node\n\nmsg.result = {\n    status: 'completed',\n    data: { yaw, pitch, speed, message: 'Gimbal moved' }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Angle set' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 200,
    "wires": [["acknowledge_command"]]
  },
  {
    "id": "exec_offset",
    "type": "function",
    "name": "Execute Offset",
    "func": "const params = msg.params;\nconst yawDelta = parseFloat(params.yaw_delta) || 0;\nconst pitchDelta = parseFloat(params.pitch_delta) || 0;\nconst speed = parseFloat(params.speed) || 200;\n\nnode.warn(`↔️ Offset gimbal: yaw_delta=${yawDelta}°, pitch_delta=${pitchDelta}°`);\n\n// TODO: Add actual gimbal control here\n\nmsg.result = {\n    status: 'completed',\n    data: { yaw_delta: yawDelta, pitch_delta: pitchDelta, speed }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Offset applied' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 240,
    "wires": [["acknowledge_command"]]
  },
  {
    "id": "exec_get_angle",
    "type": "function",
    "name": "Execute Get Angle",
    "func": "node.warn('📐 Getting current gimbal angle');\n\n// TODO: Read actual gimbal position\nconst currentYaw = 0;\nconst currentPitch = 0;\n\nmsg.result = {\n    status: 'completed',\n    data: {\n        yaw: currentYaw,\n        pitch: currentPitch,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Angle read' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 280,
    "wires": [["acknowledge_command"]]
  },
  {
    "id": "exec_preset",
    "type": "function",
    "name": "Execute Preset",
    "func": "const preset = msg.params.preset?.toLowerCase();\nconst speed = parseFloat(msg.params.speed) || 200;\n\nconst presets = {\n    center: { yaw: 0, pitch: 0 },\n    left: { yaw: -90, pitch: 0 },\n    right: { yaw: 90, pitch: 0 },\n    up: { yaw: 0, pitch: -45 },\n    down: { yaw: 0, pitch: 45 }\n};\n\nif (!presets[preset]) {\n    msg.result = {\n        status: 'failed',\n        error: `Invalid preset: ${preset}`\n    };\n    return msg;\n}\n\nconst { yaw, pitch } = presets[preset];\nnode.warn(`🎯 Moving to preset: ${preset} (yaw=${yaw}°, pitch=${pitch}°)`);\n\n// TODO: Add actual gimbal control here\n\nmsg.result = {\n    status: 'completed',\n    data: { preset, yaw, pitch, speed }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: `Preset: ${preset}` });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 670,
    "y": 320,
    "wires": [["acknowledge_command"]]
  },
  {
    "id": "exec_stop",
    "type": "function",
    "name": "Execute Stop",
    "func": "node.warn('🛑 Gimbal EMERGENCY STOP');\n\n// TODO: Add actual gimbal stop command here\n\nmsg.result = {\n    status: 'completed',\n    data: { stopped: true }\n};\n\nnode.status({ fill: 'red', shape: 'dot', text: 'STOPPED' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 660,
    "y": 360,
    "wires": [["acknowledge_command"]]
  },
  {
    "id": "exec_photo",
    "type": "function",
    "name": "Execute Take Photo",
    "func": "node.warn('📸 Taking photo');\n\n// TODO: Add actual photo capture here\n\nmsg.result = {\n    status: 'completed',\n    data: { photo_taken: true, timestamp: new Date().toISOString() }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Photo taken' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 400,
    "wires": [["acknowledge_command"]]
  },
  {
    "id": "exec_status",
    "type": "function",
    "name": "Execute Get Status",
    "func": "node.warn('📊 Getting device status');\n\n// TODO: Add actual status reading here\n\nmsg.result = {\n    status: 'completed',\n    data: {\n        online: true,\n        gimbal_ready: true,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: 'Status sent' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 680,
    "y": 440,
    "wires": [["acknowledge_command"]]
  },
  {
    "id": "acknowledge_command",
    "type": "function",
    "name": "Acknowledge to Laura",
    "func": "const cameraId = flow.get('CAMERA_ID');\nconst lauraUrl = flow.get('LAURA_API_URL');\nconst commandId = msg.command_id;\nconst result = msg.result;\n\nif (!commandId) {\n    node.error('❌ No command_id in message');\n    return null;\n}\n\nmsg.url = `${lauraUrl}/api/cameras/${cameraId}/commands/${commandId}`;\nmsg.method = 'POST';\nmsg.payload = {\n    status: result.status,\n    result: result.data || result.error || {}\n};\n\nnode.warn(`✅ Acknowledging command ${commandId} with status: ${result.status}`);\nnode.status({ fill: 'blue', shape: 'ring', text: 'Sending ack...' });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 190,
    "y": 380,
    "wires": [["http_ack"]]
  },
  {
    "id": "http_ack",
    "type": "http request",
    "name": "Send Acknowledgment",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 420,
    "y": 380,
    "wires": [["ack_response"]]
  },
  {
    "id": "ack_response",
    "type": "debug",
    "name": "Ack Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 380,
    "wires": []
  },
  {
    "id": "error_handler",
    "type": "catch",
    "name": "Error Handler",
    "scope": null,
    "uncaught": false,
    "x": 150,
    "y": 480,
    "wires": [["log_error"]]
  },
  {
    "id": "log_error",
    "type": "debug",
    "name": "Error Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "error",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 340,
    "y": 480,
    "wires": []
  }
]
